@model List<Skill>
@{
	ViewData["Title"] = "Skills";
	var userSkillData = ViewData["UserSkillData"] as List<UserSkillCount>;
}

@section Styles{
	<style>
		.skillImageContainer {
			width: 15%;
		}

		.skillImage {
			width: 100%;
			height: 70px;
		}

		.info > td {
			text-align: center;
			vertical-align: middle;
		}

		th {
			text-align: center
		}

		.tdProgress {
			width: 20%;
		}
	</style>
}

<div class="text-center">
	<h1 class="my-header display-4">Skills</h1>
</div>
<div class="row">
	@if (User.Identity.IsAuthenticated)
	{
		<a class="btn btn-outline-success"
		   asp-controller="Skill" asp-action="Create">Create</a>
	}
</div>
<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var skill in Model)
			{
				<tr class="info">
					<td>@skill?.Id</td>
					<td>@skill.Name</td>
					<td class="skillImageContainer">
						@if (skill.Image != null)
						{
							<img src="@skill.Image.Src" class="card-img-top skillImage">
						}
					</td>
					<td>
						<div>
							@if (User.Identity.IsAuthenticated)
							{
							<a class="btn btn-primary"
							   asp-area="" asp-controller="Skill" asp-action="Edit"
							   asp-route-id="@skill.Id">Edit</a>
							}
						</div>
					</td>
					<td>
						@if (User.Identity.IsAuthenticated)
						{
							<div>
								@if (@userSkillData?.FirstOrDefault(s => s.Id == skill.Id)?.Count == null)
								{

									<a class="btn btn-danger"
									asp-area="" asp-controller="Skill" asp-action="DeleteConfirm"
									asp-route-id="@skill.Id" disabled>Delete</a>
								}
								else
								{
								
									<a class="btn btn-danger disabled">Delete</a>
								
								}
							</div>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Links {
	<li class="nav-item">
		<a class="nav-link text-dark"
		   asp-area="" asp-controller="Home" asp-action="AboutMe">
			Users
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark"
		   asp-area="" asp-controller="Group" asp-action="Index">
			Groups
		</a>
	</li>
}